//
// Navbar
//

#mainNav {
    min-height: 3.5rem;
    background-color: $white;

    // The "Menu" toggler in mobile mode
    .navbar-toggler {
        font-size: 80%;
        padding: 0.75rem;
        color: $modern-bright;
        border: $border-width solid $modern-bright;

        &:focus {
            outline: none;
        }
    }

    // Brand
    .navbar-brand {
        color: $black;
        font-weight: 700;
        padding: 0.9rem 0;
        font-size: 1.25rem;
    }

    // Navigation buttons
    .navbar-nav {
        .nav-item {
            &:hover {
                //color: fade($white, 80%);
                outline: none;
                background-color: transparent;
            }

            &:active,
            &:focus {
                outline: none;
                background-color: transparent;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: $white;
        transition: background-color 0.3s ease-in-out;

        .navbar-brand {
            padding: 0.5rem 0;
        }

        .nav-link {
            transition: color 0.15s ease-in-out,
                background-color 0.15s ease-in-out,
                border-color 0.15s ease-in-out;
            padding: 2rem 1.5rem;
            color: $modern;
            border-bottom: 0.25rem solid transparent;

            &:hover {
                color: $modern-bright;
            }

            &:active {
                color: $modern-bright;
                border-bottom: 0.25rem solid $modern-bright;
            }
        }

        &.navbar-shrink {
            background-color: $white;

            .navbar-brand {
                color: $black;
            }

            .nav-link {
                color: $modern;
                //padding: 1.5rem 1.5rem 1.25rem;
                border-bottom: 0.25rem solid transparent;

                &:hover {
                    color: $modern-bright;
                }

                &:active {
                    //color: darken($modern-bright, 15%);
                }

                &.active {
                    color: $modern-bright;
                    outline: none;
                    border-bottom: 0.25rem solid $modern-bright;
                }
            }
        }
    }
}
