//
// Masthead
//

.masthead {
    position: relative;
    width: 100%;
    height: 6vh;
    min-height: 15rem;
    padding: 15rem 1;
    margin-top: 5.5rem;
    background: linear-gradient(
            to bottom,
            #{fade-out($white, 0.6)} 0%,
            #{fade-out($white, 0.6)} 100%
        ),
        url("../assets/img/bg-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    h1 {
        font-weight: 300;
        font-size: 2.5rem;
        line-height: 2.8rem;
        letter-spacing: 0.3rem;
        background: white; //linear-gradient(fade-out($white, 0.1), fade-out($white, 1));
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    h2 {
        max-width: 20rem;
        font-size: 1rem;
    }

    @include media-breakpoint-up(md) {
        h1 {
            font-size: 4rem;
            line-height: 4rem;
        }
    }

    @include media-breakpoint-up(lg) {
        //height: 100vh;
        padding: 0;

        h1 {
            font-size: 4rem;
            line-height: 4rem;
            letter-spacing: 0.8rem;
        }

        h2 {
            max-width: 30rem;
            font-size: 1.25rem;
        }
    }
}
