//
// Typography
//

// Override Bootstrap typography variables

$font-family-base: "Karla";
$font-size-base: 1.1rem !default;

$base-letter-spacing: 0.0625em;

// Custom font family for headers, buttons and forms

$font-family-special: "Montserrat";
